<app-container>
    <app-cabecalho
        [telaInicial]="false"
        [titulo]="'Adicionar Aluno'"
    ></app-cabecalho>

    <form [formGroup]="alunoForm" (ngSubmit)="salvarAluno()">
        <div class="imagem-aluno" role="button">
            <i class="material-icons">add</i>
            <label for="avatar">Adicione a imagem do aluno</label>
            <input type="file" accept="image/*" id="avatar" required (change)="aoSelecionarArquivo($event)">
        </div>
        @if(alunoForm.get('avatar')?.value !== '' ){
        <figure>
            <img [src]="alunoForm.get('avatar')?.value" alt="avatar do aluno">
        </figure>
        }
        
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" id="nome" placeholder="Digite o nome do Aluno" />
        <app-mensagem-erro [control]="obterControle('nome')"></app-mensagem-erro>
        
        <label for="telefone">Telefone</label>
        <input type="text" formControlName="telefone" id="telefone" placeholder="Digite o telefone do Aluno" />
        <app-mensagem-erro [control]="obterControle('telefone')"></app-mensagem-erro>
        
        <app-separador></app-separador>

        <label for="dataAniversario">Data de Aniversario</label>
        <input type="date" formControlName="dataAniversario" id="dataAniversario"
            placeholder="Digite a data de aniversário do Aluno" />
        <label for="observacoes">Observacoes</label>
        <textarea type="text" formControlName="observacoes" id="observacoes"
            placeholder="Digite alguma observação"></textarea>

        <section class="botoes">
            <button class="botao-cancelar" type="button" (click)="cancelar()">Cancelar</button>
            <button [disabled]="alunoForm.invalid" [ngClass]="alunoForm.valid ? 'botao-salvar' : 'botao-desabilitado'"
                type="submit">Salvar Aluno</button>
        </section>
    </form>
</app-container>