<app-container>
    <header>
        <section class="cabecalho-link">
            <div>
                <button>
                    <img src="../../../assets/arrow-left.png" alt="" class="seta" />
                    <a routerLink="/lista-alunos">Voltar</a>
                </button>
            </div>

            <img src="../../../assets/logo-11.png" alt="">
        </section>
        <section class="cabecalho-aluno">
            <img src="../../../assets/perfil-contato.png" alt="">
            <h1>Adicionar Aluno</h1>
        </section>
    </header>

    <form [formGroup]="alunoForm" (ngSubmit)="salvarAluno()">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" id="nome" placeholder="Digite o nome do Aluno" />
        @if( alunoForm.get('nome')?.errors
        && alunoForm.get('nome')?.touched ){
        <div class="mensagem-erro">Campo Obrigatório!</div>
        }
        <label for="telefone">Telefone</label>
        <input type="text" formControlName="telefone" id="telefone" placeholder="Digite o telefone do Aluno" />
        @if( alunoForm.get('nome')?.errors
        && alunoForm.get('nome')?.touched ){
        <div class="mensagem-erro">Campo Obrigatório!</div>
        }
        <app-separador></app-separador>

        <label for="dataAniversario">Data de Aniversario</label>
        <input type="date" formControlName="dataAniversario" id="dataAniversario"
            placeholder="Digite a data de aniversário do Aluno" />
        <label for="observacoes">Observacoes</label>
        <textarea type="text" formControlName="observacoes" id="observacoes"
            placeholder="Digite alguma observação"></textarea>

        <section class="botoes">
            <button class="botao-cancelar" type="button" (click)="cancelar()">Cancelar</button>
            <button [disabled]="alunoForm.invalid" [ngClass]="alunoForm.valid ? 'botao-salvar' : 'botao-desabilitado'"
                type="submit">Salvar Aluno</button>
        </section>
    </form>
</app-container>