<app-container>
    <app-cabecalho
        [telaInicial]="false"
        [titulo]="'Perfil Aluno'"
    ></app-cabecalho>

    <section class="perfil">
        <div class="imagem-perfil">
            <img [src]="aluno.avatar" alt="Avatar do aluno">
            <h2><strong>{{ aluno.nome }}</strong></h2>
        </div>
        <app-separador></app-separador>
        <ul>
            <li>
                <i class="material-icons"></i>
                <strong>Nome</strong>
            </li>
            <li>{{ aluno.nome }}</li>
            <li>
                <i class="material-icons">call</i>
                <strong>Telefone</strong>
            </li>
            <li>{{ aluno.telefone }}</li>
            <li>
                <i class="material-icons">event_available</i>
                <strong>Data de nascimento</strong>
            </li>
            <li>{{ aluno.dataAniversario }}</li>
            <li>
                <i class="material-icons">comment</i>
                <strong>Observações</strong>
            </li>
            <li>{{ aluno.observacoes }}</li>
        </ul>
        <div class="botoes">
            <button class="botao-excluir" (click)="excluir()">
                Excluir contato
            </button>
            <button class="botao-editar" (click)="editar()">
                Editar
            </button>
        </div>
    </section>
</app-container>