<app-container>
    <app-cabecalho [telaInicial]="true"></app-cabecalho>

    <section class="adicionar-aluno">
        <button routerLink="/formulario">
            <img src="../../../assets/plus.png" alt="" />
            <span>Adicionar Aluno</span>
        </button>
    </section>

    <input 
        type="search" 
        placeholder="Digite o nome do aluno" 
        [(ngModel)]="filtroPorTexto" 
        />

    @for (letra of alfabeto; track letra) {
    <app-separador>
        {{ letra }}
    </app-separador>
        @for ( aluno of filtrarListaAlunosPorLetraInicial( letra ); track aluno.id ) {
            <app-alunos [nome]="aluno.nome" [telefone]="aluno.telefone" [id]="aluno.id!" [avatar]="aluno.avatar">
            </app-alunos>
        }
    }
</app-container>